{% extends 'base_ad.html.twig' %}

{% block title %}Edit Film{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/edit.css') }}">
{% endblock %}
{% block body %}
<div class="main">
    <h1>Edit Film</h1>

    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
{{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.director) }}
    {{ form_row(form.trailerFile) }}
    {{ form_row(form.imageFile) }}

    <div class="form-actions">
        <button type="submit" class="btn-sav">
            Save
        </button>

        <a href="{{ path('dash') }}" class="btn-cancel">
            cancel
        </a>
    </div>

{{ form_end(form) }}

    {{ form_end(form) }}
<div>
{% endblock %}
